* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{
    background-color: rgb(247, 209, 233);
height: 56px;
display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
padding: 16px;}

#logo{width: 56px;}   
    
span{font-size: 50px;
    color: rgb(102, 3, 196);
font-family: Verdana, Geneva, Tahoma, sans-serif;}
 
nav ul{display : flex;
    flex-direction : row;
    gap: 24px;
    list-style: none;
}
    nav a{text-decoration: none;}
     ul{text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
input {
    padding: 8px;
    border:none;
    width: 100%;
    
}
#searchholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 12px;
    width: 40%;
}
#searchholder img {
    width: 20px;
    height: 20px;
    opacity: 70%;

}
    
